body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4169E1;
}

form {
    background-color: #fff;
    padding: 45px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #05974e;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #054f9e;
}

h1 {
    text-align: center;
}

#user-nick {
    font-weight: bold;
    color: #FFD700;
}

form:first-of-type h1, form:nth-of-type(2) h1 {
    font-weight: bold;
    font-size: 24px; 
}