<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylev.css">
    <title>Авторизація</title>
</head>
<body>
    <form style="display: inline-grid;" action="/authorization" method="post">
        Авторизація<br>
        Логін: <input name="username" type="text">
        Пароль: <input name="password" type="password">
        <input type="submit">
    </form>

    <form style="display: inline-grid; margin-left: 30px;" action="/registration" method="post">
        Регістрація<br>
        Логін: <input name="username" type="text">
        Пароль: <input name="password" type="password">
        <input type="submit">
    </form>
</body>
</html>